h1 {
    text-align: center;
}

body {
    background-color: burlywood;
}

#Scoreboard {
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

tr:first-child {
    background-color: black;
    color: aliceblue;
}

table,
td,
th,
tr {
    border: solid;
    border-collapse: collapse;
    border-color: black;


}

input[type=number] {
    width: 8em;
    /* -moz-appearance: textfield; */

    border: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text] {
    width: 12em;
}

.points {
    background-color: transparent;
}


.militaire {
    background-color: crimson;
}

.coins {
    background-color: goldenrod;
}

.science {
    background-color: green;
}

.civil {
    background-color: blue;
}

.wonder {
    background-color: blanchedalmond;
}

.commerce {
    background-color: gold;
}


#testBouton {
    display: flex;
    position: relative;
    width: 900px;
    margin: auto;
    margin-top: 1rem;
    justify-content: space-around;
}

#Retrait {
    display: none;

    position: absolute;
    font-size: larger;
    padding-left: 9px;
    padding-right: 9px;
    bottom: 2.4rem;
    left: -2rem;
    border: none;
    border-radius: 50%;
}

#Ajout {
    position: absolute;
    font-size: medium;
    border: none;
    width: 25px;
    height: 25px;
    left: -32px;
    top: -14px;
    border-radius: 50%;
}

button:hover {
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;

}




/* Modal */


.modal {
    z-index: 1;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;


}

.modal-content {
    margin-top: 10%;
    background-color: rgb(35, 173, 86, 1);
    width: 40%;
    height: fit-content;

    border-radius: 5px;

    margin-left: auto;
    margin-right: auto;

}

.modalHeader {
    display: flex;
    margin-right: 0%;
    margin-bottom: 1em;
    align-items: center;
    flex-direction: column;


}

.modalHeader h1 {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1rem;
}

.modalHeader h2 {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0.4rem;
    text-align: center;
    font-size: 2rem;
    color: goldenrod;
    font-style: italic;

}



.modalBody {

    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.modalBody form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-top: 1rem;
    justify-content: center;
}

.modalBody form div {
    display: flex;
    height: 4rem;
    align-items: center;
}

.modalBody form div * {
    margin-left: 1rem;
}


.modalBody form div input {
    width: 45%;
    margin-left: 3rem;

}

img {
    height: 2rem;
    width: 2rem;
}

.modalBody2 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.modalBody2 label {
    text-align: center;
    margin-bottom: 0.5rem;
}

.modalBody3 {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
}

.modalFooter {
    float: right;
    margin-bottom: 1em;
    margin-right: 10%;
}

#close {
    width: fit-content;
    border-radius: 30%;
    border: none;

    background-color: transparent;

    float: right;
    cursor: pointer;
}

#modalTitle {
    margin-top: 0%;
    margin-bottom: 0%;

}