/*table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;

} */

h1{
    text-align: center;
}
   
body{
    background-color: blanchedalmond;
}
#Scoreboard{
    border-style: solid;
}
input{
    width: 4em;
}

.militaire{
    background-color: crimson;
}
