table {
    border: 1;
    margin-left: auto;
    margin-right: auto;

}

h1{
    text-align: center;
}
   
body{
    background-color: blanchedalmond;
}

input{
    width: 4em;
}

.militaire{
    background-color: crimson;
}
