#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.militaryPoints {
  background-color: rgb(193, 30, 30);
}


.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

/* SCIENCE WINDOW */

#scienceWindow {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);

}

#windowContent {
  background-color: darkgreen;
  border-radius: 10px;
  margin: auto;
  width: 70%;
}
#windowContent button{
  margin-bottom: 2rem;
}
#windowContent h1{
  padding-bottom: 2rem;
  padding-top: 2rem;
}


.sciencePointsRange {
  margin-bottom: 2rem;
}

.sciencePointsRange img {
  height: 2rem;
  margin: 0rem 2rem 0rem 1rem
}

.sciencePointsRange output {
  margin-right: 2rem;
}
